<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理中心登录 - 盛邦升华信息管理系统</title>
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link href="__STATIC__/css/login.css" rel="stylesheet" type="text/css" />
	<link id="layuicss-laydate" rel="stylesheet" href="http://shop.com/static/plugins/layui/css/modules/laydate/default/laydate.css?v=5.0.8" media="all">
	<link id="layuicss-layer" rel="stylesheet" href="http://shop.com/static/plugins/layui/css/modules/layer/default/layer.css?v=3.1.0" media="all">
	<link id="layuicss-skincodecss" rel="stylesheet" href="http://shop.com/static/plugins/layui/css/modules/code.css" media="all">
	<script src="__STATIC__/js/jquery.min.js"></script>
	<style>
		.controller{
			display:none;
		}
	</style>
</head>
<body id="loginFrame" ms-controller="login" class="controller" ms-visible="display">
<div class="wst-lo-center">
	<div class="wst-lo">
		<div class="login-header">
			<div class='login_logo'>
				<img src="__STATIC__/img/logo.png">
			</div>
			<div class="login_title">
          		<div class='title_cn'>盛邦升华信息管理系统</div>
          		<div class='title_en'>强盛国家,升华自我,让每一名学员更优秀,更卓越!</div>
        	</div>
        	<div class="wst-clear"></div>
		</div>
		<div class="login-wrapper">
			<div class="boxbg2"></div>
			<div class="box">
				<div class="content-wrap">
					<div class="login-box">
						<div class="login-head"><img src="__STATIC__/img/login_head.png"></div>
						<div class="login-icon1"></div>
						<div class="login-icon2"></div>
						<!-- <div class="login-icon3"></div> -->
						<input id='loginName' type="text" class="layui-input ipt" ms-duplex="item.userName">
						<input id='loginPwd' type="password" class="layui-input ipt" ms-duplex="item.userPwd">
						<!-- 
						<div class="frame">
							<input type='text' id='verifyCode' class='layui-input  ipt text2'>
							<img id='verifyImg' src="/index.php/admin/index/getverify.html" onclick='javascript:getVerify(this)'>
						</div> -->
					</div>
						<button id="loginbtn" type="button" class="layui-btn layui-btn-big layui-btn-normal" style="width: 100%;" ms-click="login">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
						<p style="text-align:center !important;width:100%;height:40px;line-height:40px;color:red;" ms-text="err.msg" ms-visible="err.err"></p>
				</div>
			</div>
		</div>
		<div class="login-footer">
      		<div class="line1"></div>
      		<div class="line2"></div>学好硬本领  赢在软实力
      </div>
	</div>
</div>
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});
	$(document).keydown(function(event){
		if(event.keyCode == 13){
			vm.login();
		}
	});
	var vm = avalon.define({
		$id:"login",
		display:true,
		item:{userName:'',userPwd:''},
		userInfo:{
			is_sign_in:false,
			userName:'',
			nickName:'',
			proId:0,
			proName:"",
			classList:"",
			roleId:0,
			userRole:0,
			dataFlage:1,
			roleName:'',
			rolePower:'',
			powerArr:[],
			classArr:[],
		},
		err:{err:false,msg:''},
		load:function(){
			avalon.scan();
		},
		login:function(){
			var vd = {
				userName:vm.item.$model.userName,
				userPwd:$.md5(vm.item.$model.userPwd + $.md5(vm.item.$model.userPwd))
			};
			TX.msg('正在提交数据,请稍后...',{time:20000});
			$.post(logic_urls.login,vd,
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						json.data.is_sign_in = true;
						console.log(json.data);
						logic_user.onSignin(json.data);
						window.location.href="/home/index/index";
					}else{
						TX.msg(json.msg,{time:3000});
						vm.err.err = true;
						vm.err.msg = json.msg;
					}
				}
			);
		},
	});
	vm.load();
});	
</script>
</body>
</html>