{extend name="index/base" /}
{block name="meta"}{/block}
{block name="title"}{/block}
{block name="css"}
	<link rel="stylesheet" href="/public/static/bootstrap/css/bootstrap.css">
	<link href="__STATIC__/css/common.css" rel="stylesheet">
	<link href="__STATIC__/css/admin.css" rel="stylesheet">

{/block}
{block name="common_js"}
	<script src="/public/static/js/jquery.min.js"></script>
	<script src="/public/static/bootstrap/js/bootstrap.min.js"></script>
{/block}
{block name="header"}{include file="index/header" /}{/block}
{block name="main"}
<div class="list-box">
	<h1 class="list-title">文章列表</h1>
	<table class="admin-list" cellspacing="0">
		<thead>
			<tr>
				<td>文章标题</td>
				<td>文章简介</td>
				<td>文章类别</td>
				<td>是否有效</td>
				<td>是否热门</td>
				<td>是否最新</td>
				<td>是否置顶</td>
				<td>列表操作</td>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>
{/block}
{block name="footer"}{include file="index/footer" /}{/block}
{block name="js"}
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/js/avalon.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
{/block}