<footer>
	<div class="footer-box">
		<!-- <div class="friend-link"></div> -->
		<div class="nav-footer">
			<a href="" class="nav-footer-items">首页</a>|
			<a href="" class="nav-footer-items">赚钱故事</a>|
			<a href="" class="nav-footer-items">手机赚钱</a>|
			<a href="" class="nav-footer-items">电脑赚钱</a>|
			<a href="" class="nav-footer-items">最新项目</a>
		</div>
		<div class="copyright">
			Copyright©2018青龙易企购&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备案号：冀ICP备18036004号-1
		</div>
		<div class="copyright">
			站长信箱：8870079@qq.com
		</div>
	</div>
</footer>