<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>程序设计常用英文单词</title>
    <link rel="stylesheet" href="__STATIC__/css/english.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <h2 class="title">程序设计常用英文单词</h2>
        <p class="show-text">本程序目的是帮助学员掌握程序设计常用的一些英文单词.分为两种模式,查看模式和背诵模式,查看模式可以查看单词的拼写、读音、中文翻译以及在程序设计中的应用。背诵模式只显示中文翻译、在程序设计中的应用以及读音，不含拼写，方便学员进行背诵。</p>
        <div style="display:block;width:90%;margin:0 auto;height:80px;line-height:80px;text-align:center;font-size:1.5em;background-color:#000;color:#fff;">
                错误申报,请联系微信13373359780
         </div>
        <div class="main">
            <select name="" id="" class="select-model" v-model="display_model">
                <option value="1">显示模式</option>
                <option value="2">背诵模式</option>
            </select>
            <div class="box" v-for="(item,idx) in text_list">
                <p class="show-english">
                    <span style="width:20%;" class="item-text">英文:</span>
                    <span style="width:60%;" class="item-text"><span v-show="display_model == 1" v-text="item.textEnglish"></span></span>
                    <audio v-bind:id="'audio-'+item.textEnglish" v-bind:src="item.textSound"></audio>
                    <img id="sound-btn" class="sound-btn" src="/public/static/img/sound.png" alt="" v-on:click="soundPlay('audio-'+item.textEnglish)">
                </p>
                <p class="show-chinese" v-text="item.textChinese"></p>
            </div>
        </div>
    </div>
    
    <script src="__STATIC__/js/layer/layer.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script>
        jQuery(document).ready(function(){

            var app = new Vue({
                el:'#app',
                data:{
                    display_model:1,
                    text_list:[],
                },
                created:function(){
                    console.log("created");
                    this.getText();
                },
                methods:{
                    getText:function(){
                        var that = this;
                        TX.msg("数据加载中,请稍后",{time:30000});
                        $.post('/student/index/getList',{},
                            function(data){
                                var json = TX.toJson(data);
                                console.log(json);
                                if(json.status == 1){
                                    layer.closeAll();
                                    for(var i=0;i<json.data.length;i++){
                                        json.data[i]['textSound'] = decodeURIComponent(json.data[i]['textSound']);
                                    }
                                    that.text_list = json.data;
                                    console.log(that.text_list);
                                }else{
                                    TX.msg(json.msg,{time:3000});s
                                }
                            }
                        )
                    },
                    soundPlay:function(id){
                        console.log(id);
                        playSound(id);
                    }
                }
            });
            var playSound = function(id){
                $("#"+id)[0].play();
            }
        });
    </script>
</body>
</html>