<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>奖项列表</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css?v=2.0.6_180726" rel="stylesheet" type="text/css" />
</head>
<body ms-controller="sub" class="hold-transition skin-blue sidebar-mini" style="display:none;" ms-visible="display">
	<div ms-visible="dis_model == 'list'">
		<div class="alert alert-success alert-tips fade in">
			<div class="head">
				<i class="fa fa-lightbulb-o"></i>
				操作说明
			</div>
			<ul class="body">
				<li>该功能主要用于设置各班级或是学员所获得的奖项信息。其中获奖主体可以是项目、班级、学员或是员工中的任意一种或多种。在设置检索条件时，要以多选也可以单选。</li>
			</ul>
		</div>
		<div class="wst-toolbar">
			<select class="form-control" ms-duplex="where.proName">
				<option selected value="">请选择项目名称</option>
				<option ms-repeat-el="program_list" ms-attr-value="el.proName" ms-text="el.proName"></option>
			</select>
			<select class="form-control" ms-duplex="where.className" ms-change="selectStudent">
				<option selected value="">请选择班级名称</option>
				<option ms-repeat-el="class_list" ms-attr-value="el.className" ms-text="el.className"></option>
			</select>
			<select class="form-control" ms-duplex="where.studentName">
				<option selected value="">请选择学生姓名</option>
				<option ms-repeat-el="student_list" ms-attr-value="el.studentName">(|el.studentName|)</option>
			</select>
			<select class="form-control" ms-duplex="where.year">
				<option selected value="">请选择年度信息</option>
				<option ms-repeat-el="year_list" ms-attr-value="el" ms-text="el"></option>
			</select>
			<button class="btn btn-primary" ms-click="load">查询</button>
			<button class="btn btn-success f-right" ms-click="toAdd">
				<i class="fa fa-plus"></i>
				新增
			</button>
		</div>
		<div class="wst-grid">
			<div class="mmGrid" style="width: auto; height: 275px;">
				<div class="mmg-headWrapper">
					
				</div>
				<div class="mmg-bodyWrapper">
					<div class="mmg mmg-body" style="border:1px solid #dedede;">
						<table class="mmg-head tab-list" cellspacing="0" cellpadding="0" >
							<thead style="border:0px;">
								<tr style="height:40px;line-height:40px;border-bottom:1px solid #dedede;">
									<th>序号</th>
									<th>获奖主体</th>
									<th>获奖信息</th>
									<th>授奖单位</th>
									<th>获奖时间</th>
									<th>年度</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr cellspacing="0" ms-repeat-el="award_list">
									<td class="col-td" ms-text="$index+1"></td>
									<td class="col-td">
										<span ms-text="el.proName + '项目'" ms-visible="el.proName != ''"></span>
										<span ms-text="el.className + '班'" ms-visible="el.className != ''"></span>
										<span ms-text="el.studentName + '同学'" ms-visible="el.studentName != ''"></span>
										<span ms-text="el.userName + '同志'" ms-visible="el.userName != ''"></span>
									</td>
									<td class="col-td" ms-text="el.awardInfo"></td>
									<td class="col-td" ms-text="el.awardUnits"></td>
									<td class="col-td" ms-text="el.awardTime"></td>
									<td class="col-td" ms-text="el.year"></td>
									<td class="col-td">
										<img ms-visible="el.dataFlag == 1" src="__STATIC__/img/enable.png" alt="">
										<img ms-visible="el.dataFlag == 0" src="__STATIC__/img/disable.png" alt="">
									</td>
									<td class="col-td">
										<button class="btn btn-blue pull-right-10" ms-click="toEdit(el)">
											<i class="fa fa-pencil"></i>编辑
										</button>
										<button class="btn btn-red pull-right-10" ms-click="toDelete(el,0)"  ms-visible="el.dataFlag == 1">
											<i class="fa fa-trash-o"></i>删除
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="pd" class="mmPaginator">
				<div class="totalCountLabel" ms-text="'共'+page.total+'条'"></div>
					<ul class="pageList">
						<li class="prev" ms-class="disable:page.current_page < 2" ms-click="changePage($event,parseInt(page.current_page)-1)"><a href="#">«</a></li>
						<li ms-repeat-el="page.page_item" ms-class="active:page.current_page == el" ms-click="changePage($event,el)"><a href="#" ms-text="el"></a></li>
						<li class="next" ms-click="changePage($event,parseInt(page.current_page)+1)"><a href="#">»</a></li>
					</ul>
				<div class="limit" ms-class="page.current_page >= page.total" ms-text-"'每页'+page.per_page+'条'"></div>
			</div>
		</div>
	</div>
	<div ms-visible="dis_model == 'edit' || dis_model == 'add'">
		<div class="mmg mmg-body">
			<table class="mmg-head wst-form wst-box-top top-tab" style="width:60%;margin:0 auto;" cellspacing="0" cellpadding="0" >
				<tbody>
					<tr>
						<th width="150">所属项目<font color="red"></font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.proName">
								<option ms-repeat-el="program_list" ms-attr-value="el.proName">(|el.proName|)</option>
							</select>
						</td>
					</tr>
					<tr style="padding-top:30px;">
						<th width="150">所属班级<font color="red"></font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.className">
								<option ms-repeat-el="class_list" ms-attr-value="el.className">(|el.className|)</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">学生姓名<font color="red"></font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.studentName"></td>
					</tr>
					<tr>
						<th width="150">获奖信息<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.awardInfo"></td>
					</tr>
					<tr>
						<th width="150">授奖单位<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.awardUnits"></td>
					</tr>
					<tr>
						<th width="150">获奖时间<font color="red">*</font>：</th>
						<td><input type="date" class="ipt" style="width:350px;" ms-duplex="item.awardTime"></td>
					</tr>
					<tr>
						<th width="150">年度<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.year"></td>
					</tr>
					<tr>
						<th width="150">状态<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.dataFlag">
								<option value="1">有效</option>
								<option value="0">无效</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td style="color:red;text-align:center;" ms-visible="err.err" ms-text="err.msg"></td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td>	
								<button class="btn btn-green pull-reight-50 pull-left-100" ms-click="toSave">
									<i class="fa fa-check"></i>保存
								</button>
								<button class="btn btn-red" ms-click="returnList">
									<i class="fa fa-angle-double-left"></i>返回
								</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});

	layui.use(['form'], function(){});
	logic_user.read();
	TX.setPageBox();
	var vm = avalon.define({
		$id:"sub",
		display:true,
		dis_model:"list",
		program_list:[],
		class_list:[],
		class_arr:[],
		user_list:[],
		class_select:[],
		award_list:[],
		student_list:[],
		year_list:[2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030],
		where:{studentName:'',proName:'',className:'',year:''},
		err:{err:false,msg:""},
		item:{
			awardId:0,
			userName:'',
			studentName:'',
			className:'',
			proName:'',
			awardInfo:'',
			awardUnits:'',
			awardTimeDesc:'',
			dataFlag:1,
			year:''
		},
		page:{
			total:0,
			per_page:50,
			current_page:1,
			last_page:0,
			page_item:[]
		},		
		load:function(){
			TX.msg('努力加载中...');
			console.log(vm.page);
			var vd = {
				where_studentName:vm.where.studentName,
				where_proName:vm.where.proName,
				where_className:vm.where.className,
				where_year:vm.where.year,
				page_per_page:vm.page.per_page,
				page_current_page:vm.page.current_page
			};
			console.log(vd);
			$.post(logic_urls.adminAward,vd,
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.program_list = json.program_list;
						vm.class_list = json.class_list;
						vm.class_arr = vm.class_list.$model;
						vm.user_list = json.user_list;
						var sd = json.data;
						vm.award_list = sd.data;
						if(json.model > 0){
							vm.page.total = sd.total;
							vm.page.per_page = sd.per_page;
							vm.current_page = sd.current_page;
							vm.page.last_page = sd.last_page;
							vm.page.page_item = [];
							for(var i=1;i<=vm.page.last_page;i++){
								vm.page.page_item.push(i);
							}
						}else{
							vm.page.total = 0;
							vm.page.per_page = 50;
							vm.current_page = 1;
							vm.page.last_page = 1;
							vm.page.page_item = [];
						}
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		resetItem:function(){
			vm.item = {
				studentName:'',
				className:'',
				proName:'',
				awardInfo:'',
				awardUnits:'',
				awardTime:'',
				dataFlag:1,
				year:''
			};
		},
		toAdd:function(){
			vm.resetItem();
			vm.dis_model = "add";
		},
		toEdit:function(el){
			if(!TX.inItem(el.className,"",logic_user.classArr)){
				TX.msg("您没有足够的权限来管理" + el.className + "班的学生");
				return;
			}
			vm.item = el.$model;
			vm.dis_model = "edit";
		},
		toDelete:function(el,dl){
			if(!TX.inItem(el.className,"",logic_user.classArr)){
				TX.msg("您没有足够的权限来管理" + el.className + "班的学生");
				return;
			}
			var txt = '';
			if(dl == 1){
				txt = "是否要恢复";
			}else{
				txt = "是否要删除";
			}
			layer.confirm(txt,
				{btn:["确定","取消"],
					function(){
						layer.closeAll();
						return false;
					}
				},
				function(){
					layer.closeAll();
					var vd = {
						awardId:el.awardId
					};
					TX.msg("数据提交中......",{time:30000});
					$.post(logic_urls.delAward,vd,
						function(data){
							var json = TX.toJson(data);
							console.log(json);
							if(json.status == 1){
								layer.closeAll();
								for(var i=0;i<vm.award_list.length;i++){
									if(vm.award_list[i]['awardId'] == json.data){
										vm.award_list.splice(i,1);
										break;
									}
								}
								avalon.scan();
							}else{
								TX.msg(json.msg,{time:3000});
							}
						}
					)
				},
				function(){
					layer.closeAll();
					return false;
				}
			);
		},
		toSave:function(){
			var vd = vm.item.$model;
			vm.saveAward(vd);
		},
		saveAward:function(arr){
			vm.precheck();
			if(vm.err.err){
				return;
			}
			TX.msg('努力加载中...');
			var vd = {
				page_per_page:vm.page.per_page,
				page_current_page:vm.page.current_page,
				data_userName:vm.item.$model.userName,
				data_studentName:vm.item.$model.studentName,
				data_className:vm.item.$model.className,
				data_proName:vm.item.$model.proName,
				data_awardInfo:vm.item.$model.awardInfo,
				data_awardUnits:vm.item.$model.awardUnits,
				data_awardTime:vm.item.$model.awardTime,
				data_dataFlag:vm.item.$model.dataFlag,
				data_year:vm.item.$model.year				
			};
			if(vm.item.awardId > 0){
				vd.data_awardId = vm.item.$model.awardId;
			}
			$.post(logic_urls.saveAward,vd,
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						layer.closeAll();
						vm.award_list = json.data.data;
						vm.page.per_page = json.data.per_page;
						vm.page.current_page = json.data.current_page;
						vm.page.total = json.data.total;
						vm.page.last_page = json.data.last_page;
						vm.page.page_item = [];
						for(var i=1;i<=vm.page.last_page;i++){
							vm.page.page_item.push(i);
						}
						vm.returnList();
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			)
		},
		selectStudent:function(){
			var id = 0;
			for(var i=0;i<vm.class_arr.length;i++){
				if(vm.where.className == vm.class_arr[i]['className']){
					id = vm.class_arr[i]['classId'];
					break;
				}
			}
			if(id <= 0){
				return;
			}
			$.post(logic_urls.listStudent,{classId:id},
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						vm.student_list = json.data;
					}else{
						TX.msg(json.msg,{time:3000});
					}
				}
			)
		},
		returnList:function(){
			vm.resetItem();
			vm.dis_model = "list";
			avalon.scan();
		},
		changePage:function(e,p){
			e.preventDefault();
			var num = vm.page.last_page;
			if(p >=1 && p <=num){
				vm.page.current_page = p;
				vm.load();
			}
		},
		precheck:function(){
			vm.err.err = false;
			vm.err.msg = '';
			vm.err.msg = validator.checkNumber(vm.item.dataFlag,"获奖状态");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkText(vm.item.awardInfo,1,300,"获奖信息");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkText(vm.item.awardUnits,1,100,"颁奖单位");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkDate(vm.item.awardTime,"获奖时间");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			if(vm.dis_model == "edit"){
				vm.err.msg = validator.checkNumber(vm.item.awardId,"获奖ID");
				if(vm.err.msg != ''){
					vm.err.err = true;
					return;
				}
			}
		},
		selectClass:function(a){
			var id = 0;
			for(var i=0;i<vm.program_list.length;i++){
				if(a == vm.program_list[i]['proName']){
					id = vm.program_list[i]['proId'];
					break;
				}
			}
			if(id > 0){
				var arr = vm.class_list.$model;
				vm.class_arr = [];
				for(var i=0;i<arr.length;i++){
					if(id == arr[i].proId){
						vm.class_arr.push(arr[i]);
					}
				}
			}
		}

	});
	vm.load();
	vm.$watch("item.proName", function (a, b) {
		if(a != b){
			vm.selectClass(a);
		}
	});
	vm.$watch("where.proName",function(a,b){
		if(a != b){
			vm.selectClass(a);
		}
	});
});
</script>
</body>
</html>