<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>班级列表</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css?v=2.0.6_180726" rel="stylesheet" type="text/css" />
</head>
<body ms-controller="sub" class="hold-transition skin-blue sidebar-mini" style="display:none;" ms-visible="display">
	<div ms-visible="dis_model == 'list'">
		<div class="alert alert-success alert-tips fade in">
			<div class="head">
				<i class="fa fa-lightbulb-o"></i>
				操作说明
			</div>
			<ul class="body">
				<li>该功能主要用于设置班级信息，包括新增和编辑等操作。</li>
			</ul>
		</div>
		<div class="wst-toolbar">
			<span class="btn"></span>
			<button class="btn btn-success f-right" ms-click="toAdd">
				<i class="fa fa-plus"></i>
				新增
			</button>
		</div>
		<div class="wst-grid">
			<div class="mmGrid" style="width: auto; height: 275px;">
				<div class="mmg-headWrapper">
					
				</div>
				<div class="mmg-bodyWrapper">
					<div class="mmg mmg-body" style="border:1px solid #dedede;">
						<table class="mmg-head tab-list" cellspacing="0" cellpadding="0" >
							<thead style="border:0px;">
								<tr style="height:40px;line-height:40px;border-bottom:1px solid #dedede;">
									<th>序号</th>
									<th>班级名称</th>
									<th>项目名称</th>
									<th>班主任</th>
									<th>班级状态</th>
									<th>班级排序</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr cellspacing="0" ms-repeat-el="class_list">
									<td class="col-td" ms-text="$index+1"></td>
									<td class="col-td" ms-text="el.className"></td>
									<td class="col-td" ms-text="el.proName"></td>
									<td class="col-td" ms-text="el.nickName"></td>
									<td class="col-td">
										<img ms-visible="el.dataFlag == 1" src="__STATIC__/img/enable.png" alt="">
										<img ms-visible="el.dataFlag == 0" src="__STATIC__/img/disable.png" alt="">
									</td>
									<td class="col-td" ms-text="el.sort"></td>
									<td class="col-td">
										<button class="btn btn-blue pull-right-10" ms-click="toEdit(el)">
											<i class="fa fa-pencil"></i>编辑
										</button>
										<button class="btn btn-red pull-right-10" ms-click="toDelete(el.classId,0)">
											<i class="fa fa-trash-o"></i>删除
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ms-visible="dis_model == 'edit' || dis_model == 'add'">
		<div class="mmg mmg-body">
			<table class="mmg-head wst-form wst-box-top top-tab" style="width:60%;margin:0 auto;" cellspacing="0" cellpadding="0" >
				<tbody>
					<tr style="padding-top:30px;">
						<th width="150">班级名称<font color="red">*</font>：</th>
						<td>
							<input type="text" class="ipt" style="width:350px;" ms-duplex="item.className">
						</td>
					</tr>
					<tr>
						<th width="150">班 主 任<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.masterId">
								<option selected disabled value="1">请选择班主任</option>
								<option ms-repeat-el="user_list" ms-attr-value="el.userId" ms-text="el.nickName"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">所属项目<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.proId">
								<option selected disabled value="1">请选择所属项目</option>
								<option ms-repeat-el="program_list" ms-attr-value="el.proId" ms-text="el.proName"></option>
							</select>
						</td>
						
					</tr>
					<tr>
						<th width="150">班级状态<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.dataFlag">
								<option value="1">有效</option>
								<option value="0">无效</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">班级排序<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.sort"></td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td style="text-align:center;width:100%;overflow:hidden;color:red;" ms-visible="err.err" ms-text="err.msg"></td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td>	
								<button class="btn btn-green pull-reight-50 pull-left-100" ms-click="toSave">
									<i class="fa fa-check"></i>保存
								</button>
								<button class="btn btn-red" ms-click="returnList">
									<i class="fa fa-angle-double-left"></i>返回
								</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});

	layui.use(['form'], function(){});
	TX.setPageBox();
	var vm = avalon.define({
		$id:"sub",
		display:true,
		dis_model:"list",
		program_list:[],
		user_list:[],
		class_list:[],
		err:{err:false,msg:""},
		item:{
			classId:0,
			className:'',
			proId:0,
			masterId:0,
			sort:100,
			dataFlag:1
		},
		load:function(){
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.adminClass,{},
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						layer.closeAll();
						vm.program_list = json.program_list;
						vm.user_list = json.user_list;
						vm.class_list = json.data;
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		resetItem:function(){
			vm.item = {
				classId:0,
				className:'',
				proId:0,
				masterId:0,
				sort:100,
				dataFlag:1
			};
		},
		toAdd:function(){
			vm.resetItem();
			vm.dis_model = "add";
		},
		toEdit:function(el){
			vm.item = el.$model;
			vm.dis_model = "edit";
		},
		toSave:function(){
			var vd = vm.item.$model;
			console.log(vd);
			vm.saveClass(vd);
		},
		saveClass:function(arr){
			vm.precheck(arr);
			if(vm.err.err){
				return;
			}
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.saveClass,arr,
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						layer.closeAll();
						vm.class_list = json.data;
						vm.returnList();
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		toDelete:function(id){
			layer.confirm("是否要删除",
				{btn:["确定","取消"],
					function(){
						layer.closeAll();
						return false;
					}
				},
				function(){
					layer.closeAll();
					var vd = {
						classId:id
					};
					TX.msg("数据提交中......",{time:30000});
					$.post(logic_urls.delClass,vd,
						function(data){
							var json = TX.toJson(data);
							if(json.status == 1){
								layer.closeAll();
								for(var i=0;i<vm.class_list.length;i++){
									if(vm.class_list[i]['classId'] == json.data){
										vm.class_list.splice(i,1);
										break;
									}
								}
								avalon.scan();
							}else{
								TX.msg(json.msg,{time:3000});
							}
						}
					);
				},
				function(){
					layer.closeAll();
					return false;
				}
			);
		},
		returnList:function(){
			vm.resetItem();
			vm.dis_model = "list";
			avalon.scan();
		},
		precheck:function(arr){
			vm.err.err = false;
			vm.err.msg = '';
			if(vm.dis_model == "edit"){
				vm.err.msg = validator.checkNumber(arr.classId,"班级ID");
				if(vm.err.msg != ''){
					vm.err.err = true;
					return;
				}
			}
			vm.err.msg = validator.checkNumber(arr.proId - 1,"项目ID");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.masterId - 1,"班主任ID");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.dataFlag,"状态ID");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkText(arr.className,1,20,"班级名称");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
		}

	});
	vm.load();
});
</script>
</body>
</html>