<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>盛邦升华学员信息管理系统</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css?v=2.0.6_180726" rel="stylesheet" type="text/css" />
</head>
<body class="skin-blue sidebar-mini" ms-controller="admin" style="overflow:hidden;">
	<div id="j-loader" ms-visible="!display"><img src="__STATIC__/img/ajax-loader.gif"/></div>
	<div style="display:none" ms-visible="display"  style="overflow:hidden;">
		<header class="main-header">
			<a href="#" class="logo">
				<span class="logo-mini">盛邦</span>
				<span class="logo-lg">盛邦升华</span>
			</a>
			<nav class="navbar navbar-static-top">
				<div class="navbar-custom-menu" style='float:left'>
				</div>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li id='toClearCache'><a class='j-clear-cache' href='#' title="清除缓存"><i class='fa fa-spinner'></i></a></li>
						<li id='toLogout'><a class='j-logout' href='#' title='退出系统' ms-click="signOut($event)"><i class='fa fa-power-off'></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="main-sidebar">
			<section class="sidebar">
				<div class="user-panel">
					<div class="pull-left image">
						<img src="__STATIC__/img/pt.jpg" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p ms-text="userInfo.nickName"></p>
						<p ms-text="userInfo.roleName"></p>
					</div>
					<div class='pull-left button' style="padding-top:30px;">
						<a href='javascript:void(0);' class='j-edit-pass edit-pass' ms-click="toEdit($event)">
							<i class='fa fa-key'></i>
							<span>修改密码</span></a>
						<a href='javascript:void(0);' class='j-logout logout' ms-click="signOut($event)">
							<i class='fa fa-power-off'></i>
							<span>退出系统</span>
						</a>
					</div>
				</div>

				<ul class="sidebar-menu">
					<li class="treeview j-menulevel0 j-sysmenu1" ms-repeat-el="menu">
						<a class="tree-first" href="#" ms-click="selectMenu($event,$index)">
							<i class="fa fa-id-card"></i> <span ms-text="el.menuName"></span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu" ms-visible="el.select">
							<li ms-repeat-sl="el.sub">
								<a class='menuItem' href="#" ms-click="loadPage($event,sl)">
									<i class="fa fa-user-secret"></i>(|sl.menuName|)
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>
		<div class="content-wrapper" id="wrapper" >
			<section class="content-header">
				<ol class="breadcrumb">
					<li><a href='home/index/main' target='_blank'><i class='fa fa-map-marker'></i><span ms-text="page_title"></span></a></li>
				</ol>
				<button id='toFullSreen' class="fullscreen"><i class="fa fa-arrows-alt"></i></button>
			</section>
			<section id="iframe-box" class="content-iframe" style="margin:0px;padding:0;height:100%;overflow:hidden;">
				<iframe id="iframe" class="iframe" style="width:100%;height:100%;" src="">					
				</iframe>
			</section>
		</div>
		
	</div>
	<div id='editBox' ms-visible="dis">
			<div class="light-box"></div>
			<form id='editFrom' style="background-color:#ffffff;opacity:1 !important;">
				<table class='wst-form'>
					<tr>
						<th style='width:100px'>原密码：</th>
						<td><input type='password' id='srcPass' name='srcPass' class='ipt' ms-duplex="oldPwd" maxLength='16'/></td>
					</tr>
					<tr>
						<th>新密码：</th>
						<td><input type='password' id='newPass' name='newPass' class='ipt' ms-duplex="userPwd" maxLength='16'/></td>
					</tr>
					<tr>
						<th>确认密码：</th>
						<td><input type='password' id='newPass2' name='newPass2' class='ipt' ms-duplex="checkPwd" maxLength='16'/></td>
					</tr>
					<tr>
						<td colspan="2" style="padding-top:20px;">
							<button class="btn btn-green" style="margin-left:100px;" ms-click="saveUsers($event)">保存</button>
							<button class="btn btn-red" style="margin-left:80px;" ms-click="returnBack($event)">放弃</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/js/avalon.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});
	logic_user.read();
	console.log(logic_user);
	TX.resize();
	var sm = avalon.define({
		$id:"admin",
		menu:[],
		page_title:'首页',
		iframe_height:h,
		display:true,
		loading:true,
		iframe_scr:'home/index/main',
		dis:false,
		userInfo:{
			userId:0,
			userName:'',
			nickName:''
		},
		oldPwd:'',
		userPwd:'',
		checkPwd:'',
		load:function(){
			sm.loading = true;
			$.post(logic_urls.adminLoading,{},
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						sm.loading = false;
						var menu = json.data.menu_list;
						for(var i=0;i<menu.length;i++){
							menu[i].select = false;
						}
						sm.menu = menu;
						$("#iframe").attr("src","/home/index/main");
						sm.userInfo = json.userInfo;
						avalon.scan();
					}else{
						sm.loading = false;
						avalon.scan();
					}

				}
			);
		},
		selectMenu:function(e,id){
			e.preventDefault();
			var vl = sm.menu[id].select;
			if(true == vl){
				sm.menu[id].select = false;
			}else{
				for(var i=0;i<sm.menu.length;i++){
					if(i == id){
						sm.menu[i].select = true;
					}else{
						sm.menu[i].select = false;
					}
				}
			}
		},
		loadPage:function(e,el){
			e.preventDefault();
			sm.page_title = el.menuName;
			$("#iframe").attr('src',el.uri);
		},
		toEdit:function(e){
			e.preventDefault();
			sm.oldPwd = "";
			sm.userPwd = "";
			sm.checkPwd = "";
			sm.dis = true;
		},
		returnBack:function(e){
			e.preventDefault();
			sm.oldPwd = "";
			sm.userPwd = '';
			sm.checkPwd = '';
			sm.dis = false;
		},
		saveUsers:function(e){
			e.preventDefault();
			if(sm.userPwd != sm.checkPwd){
				TX.msg('确认密码与新密码不一致',{time:3000});
				return;
			}
			var vd = {
				userId:sm.userInfo.userId,
				userName:sm.userInfo.userName,
				oldPwd:$.md5(sm.oldPwd + $.md5(sm.oldPwd)),
				userPwd:$.md5(sm.userPwd + $.md5(sm.userPwd))
			};
			TX.msg("正在提交数据,请稍后",{time:30000});
			$.post(logic_urls.editPwd,vd,
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						TX.msg("密码修改成功",{time:3000});
						sm.dis = false;
					}else{
						TX.msg("修改密码失败,代码为:" + json.msg,{time:5000});
					}
				}
			);
		},
		signOut:function(e){
			e.preventDefault();
			$.post(logic_urls.signOut,{},
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						logic_user.signout();
						window.location.href = "/home/login/index";
					}else{
						TX.msg("退出登录失败,错误代码为:" + json.msg);
					}
				}
			);
		}

	});
	sm.load();
});


</script>


</body>
</html>