<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生成绩查询</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css?v=2.0.6_180726" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/iconfont.css">
</head>
<body ms-controller="sub" class="hold-transition skin-blue sidebar-mini" style="display:none;" ms-visible="display">
	<div>
		<div class="alert alert-success alert-tips fade in">
			<div class="head">
				<i class="fa fa-lightbulb-o"></i>
				操作说明
			</div>
			<ul class="body">
				<li>该功能主要用于查询学生成绩信息,在查询前需要先选择好项目名称、班级名称和成绩分组,然后点击查询按钮进行查询.另外在批量导入成绩或进行成绩录入时,需要新立分组,并根据分组建立课程名称。</li>
			</ul>
		</div>
		<div class="wst-toolbar">
			<select class="form-control" ms-duplex="@proId">
				<option disabled selected value="">请选择项目名称</option>
				<option ms-for="el in @program_list" ms-attr="{value:el.proId}" ms-text="el.proName"></option>
			</select>
			<select class="form-control" ms-duplex="@classId">
				<option value="">请选择班级名称</option>
				<option ms-for="el in @class_arr" ms-attr="{value:el.classId}" ms-text="el.className"></option>
			</select>
			<select class="form-control" ms-duplex="@groupId" ms-attr-disabled="@update > 0">
				<option disabled selected value="0">请选择成绩分组</option>
				<option ms-for="el in @group_list" ms-attr="{value:el.groupId}" ms-text="el.groupName"></option>
			</select>
			<button class="btn btn-primary" ms-click="search">查询</button>
			<button class="btn btn-success margin-left-20" ms-click="toUpload">
				<i class="fa fa-plus"></i>
				批量导入成绩
			</button>
			<button class="btn btn-success" style="margin-left:20px;" ms-click="exportData">
				<i class="fa fa-plus"></i>
				导出到EXCEL
			</button>
			<button class="btn btn-success margin-left-20" ms-click="toDownload">
				<i class="fa fa-plus"></i>
				下载导入模板
			</button>
			<button class="btn btn-success f-right" ms-click="toAdd" style="display:none;">
				<i class="fa fa-plus"></i>
				新增
			</button>
		</div>
		<div class="wst-grid">
			<div class="mmGrid" style="width: auto; height: 275px;">
				<div class="mmg-headWrapper">
					
				</div>
				<div class="mmg-bodyWrapper">
					<div class="mmg mmg-body" style="border:1px solid #dedede;">
						<table class="mmg-head tab-list" cellspacing="0" cellpadding="0" >
							<thead style="border:0px;">
								<tr style="height:40px;line-height:40px;border-bottom:1px solid #dedede;">
									<th>序号</th>
									<th>学生名称</th>
									<th><span class="score-item" ms-for="el in @score_list">(|el.courseName|)</span></th>
									<th><span></span>平均分</th>
									<th>总成绩</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr cellspacing="0" ms-for="(idx,el) in student_list">
									<td class="col-td" ms-text="idx+1"></td>
									<td class="col-td" ms-text="el.studentName"></td>
									<td class="col-td">
										<span class="score-item" ms-for="sl in el.scoreList" ms-class="sl.score < 60 ? 'scorered':''" ms-text="sl.score"></span>
									</td>
									<td ms-text="el.avg"  ms-class="el.avg < 60 ? 'scorered':''"></td>
									<td ms-text="el.scoreSum"  ms-class="el.scoreSum < 60 ? 'scorered':''"></td>
									<td class="col-td">
										<button class="btn btn-blue pull-right-10" ms-click="toEdit(el)">
											<i class="fa fa-pencil"></i>编辑
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="file" name="files" id="files1" style="display:none;">
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon2.2.8.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});

	layui.use(['form'], function(){});
	TX.setPageBox();
	var pid = QueryString("proId");
	var cid = QueryString("classId");
	var gid = QueryString("groupId");
	if(!pid) pid = 0;
	if(!cid) cid = 0;
	if(!gid) gid = 0;

	var vm = avalon.define({
		$id:"sub",
		display:true,
		score_list:[],
		allscore_list:[],
		proId:0,
		classId:0,
		groupId:0,
		student_list:[],
		program_list:[],
		group_list:[],
		allgroup_list:[],
		class_list:[],
		class_arr:[],
		order_list:[],
		err:{err:false,msg:""},
		load:function(){
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.adminMark,{},
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.program_list = json.program_list;
						vm.class_list = json.class_list;
						vm.allgroup_list = json.group_list;
						vm.proId = pid;
						vm.groupId = gid;
						vm.classId = cid;
						if(vm.proId > 0 && vm.classId > 0 && vm.groupId >0){
							vm.search();
						}
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		search:function(){
			var vd = {
				classId:vm.classId,
				groupId:vm.groupId
			};
			$.post(logic_urls.getMarkListByClass,vd,
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.score_list = json.scoreList;
						vm.student_list = json.data;
						var courseDesc = [];
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		sortBycourse:function(el){

		},
		sortByCount:function(el){

		},
		exportData:function(){
			if(vm.classId <= 0 || vm.groupId <= 0){
				TX.msg("必须提供班级ID和成绩分组",{time:3000});
				return;
			}
			var urlStr = logic_urls.exportMarkByClass + "?classId=" + vm.classId + "&groupId=" + vm.groupId;
			window.location.href = urlStr;
		},
		toEdit:function(el){
			var backUri = window.location.pathname + "?groupId=" + vm.groupId + "&proId=" + vm.proId + "&classId=" + vm.classId;
			var uri = "/home/index/markInput?studentId=" + el.studentId + "&groupId=" + vm.groupId + "&backUri=" + encodeURIComponent(backUri);
			window.location.href = uri;
		},
		toUpload:function(){
			$("#files1").click();
		},
		toDownload:function(){
			window.location.href = "/public/upload/files/学员成绩表.xlsx"
		},

	});
	vm.$watch("proId",function(a,b){
		console.log(a);
		if(a != b && a > 0){
			vm.class_arr = [];
			for(var i=0;i<vm.class_list.length;i++){
				if(a == vm.class_list[i]['proId']){
					vm.class_arr.push(vm.class_list[i]);
				}
			}
		}
	});
	vm.$watch("classId",function(a,b){
		if(a != b && a > 0){
			vm.group_list = [];
			for(var i=0;i<vm.allgroup_list.length;i++){
				if(vm.allgroup_list[i]['classId'] == a){
					vm.group_list.push(vm.allgroup_list[i]);
				}
			}
		}
	});
	$("#files1").change(function(e){
		if(!vm.groupId || !vm.classId){
			TX.msg('请先选班级和成绩分组',{time:3000});
			return false;
		}
		var that = this;
		var f = new FormData();
		f.append('file',this.files[0]);
		var urls = logic_urls.importMark + '?groupId=' + vm.groupId + '&classId=' + vm.classId + '&dir=mark&fileName=markInfo';
		console.log(urls);
		$.ajax({
			url:urls,
			type: 'POST',
			cache: false,
			data: f,
			processData: false,
			contentType: false,
			success:function(data){
				var json = TX.toJson(data);
				console.log(json);
				if(json.status == 1){
					if(json.err.length > 0){
						var str = json.err.join('、');
						TX.msg('批量导入学员成绩成功,但以下学员导入失败:' + str,{time:3000,icon:3,skin: 'layer-ext-moon'});
					}else{
						TX.msg('批量导入学员成绩成功',{time:3000,icon:3,skin: 'layer-ext-moon'});
					}
					avalon.scan();
				}else{
					TX.msg('批量导入学员成绩失败,代码为' + json.msg,{time:3000,icon:3,skin: 'layer-ext-moon'});
					avalon.scan();
				}
			},
			complete:function(data){
				that.value = "";
			}
		});
	});
	vm.load();
});
</script>
</body>
</html>