<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>菜单列表</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css?v=2.0.6_180726" rel="stylesheet" type="text/css" />
</head>
<body ms-controller="sub" class="hold-transition skin-blue sidebar-mini" style="display:none;" ms-visible="display">
	<div ms-visible="dis_model == 'list'">
		<div class="alert alert-success alert-tips fade in">
			<div class="head">
				<i class="fa fa-lightbulb-o"></i>
				操作说明
			</div>
			<ul class="body">
				<li>该功能主要用于设置系统菜单信息,包括主菜单的新增、编辑和删除。点击主菜单项前面的序号，可以打开子菜单。并对子菜单进行添加、编辑和删除</li>
			</ul>
		</div>
		<div class="wst-toolbar">
			<span class="btn"></span>
			<button class="btn btn-success f-right" ms-click="toAdd">
				<i class="fa fa-plus"></i>
				新增
			</button>
		</div>
		<div class="wst-grid">
			<div class="mmGrid" style="width: auto; height: 275px;">
				<div class="mmg-bodyWrapper">
					<div class="mmg mmg-body" style="border:1px solid #dedede;">
						<table class="mmg-head tab-list" cellspacing="0" cellpadding="0" >
							<thead style="border:0px;">
								<tr style="height:40px;line-height:40px;border-bottom:1px solid #dedede;">
									<th>序号</th>
									<th>菜单名称</th>
									<th>菜单标记</th>
									<th>菜单排序</th>
									<th>菜单地址</th>
									<th>菜单状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr cellspacing="0" ms-repeat-el="menu_list" ms-visible="el.display">
									<td class="col-td" ms-class="sem-1:el.isSub" ms-click="selectMenu($index,el.menuId)">
										<i class="open-menu fa fa-folder" ms-visible="!el.select"></i>
										<i class="open-menu fa fa-folder-open" ms-visible="el.select"></i>
										<span class="open-menu" ms-text="el.id"></span>
									</td>
									<td class="col-td" ms-class="sem-2:el.isSub" ms-text="el.menuName"></td>
									<td class="col-td" ms-text="el.menuTag"></td>
									<td class="col-td" ms-text="el.menuSort"></td>
									<td class="col-td" ms-text="el.uri"></td>
									<td class="col-td">
										<img ms-visible="el.dataFlag == 1" src="__STATIC__/img/enable.png" alt="">
										<img ms-visible="el.dataFlag == 0" src="__STATIC__/img/disable.png" alt="">
									</td>
									<td class="col-td">
										<button ms-visible="!el.isSub" class="btn btn-blue pull-right-10" ms-click="toAddSub(el.menuId)">
											<i class="fa fa-plus"></i>添加子菜单
										</button>
										<button class="btn btn-blue pull-right-10" ms-click="toEdit(el)">
											<i class="fa fa-pencil"></i>编辑
										</button>
										<button class="btn btn-red pull-right-10" ms-click="toDelete(el.menuId,el.isSub)">
											<i class="fa fa-trash-o"></i>删除
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ms-visible="dis_model == 'edit' || dis_model == 'add'">
		<div class="mmg mmg-body">
			<table class="mmg-head wst-form wst-box-top top-tab" style="width:60%;margin:0 auto;" cellspacing="0" cellpadding="0" >
				<tbody>
					<tr style="padding-top:30px;">
						<th width="150">菜单名称<font color="red">*</font>：</th>
						<td>
							<input type="text" class="ipt" style="width:350px;" ms-duplex="item.menuName">
						</td>
					</tr>
					<tr>
						<th width="150">菜单标记<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.menuTag"></td>
					</tr>
					<tr>
						<th width="150">菜单地址<font color="red"></font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.uri"></td>
						
					</tr>
					<tr ms-visible="(save_model == 'menu') && (dis_model == 'edit' || dis_model == 'add')">
						<th width="150">上级菜单<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.parentId">
								<option value="0">顶层菜单</option>
								<option ms-repeat-el="top_list" ms-attr-value="el.menuId" ms-text="el.menuName"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">菜单状态<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.dataFlag">
								<option value="1">有效</option>
								<option value="0">无效</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td style="text-align:center;color:red;overflow:hidden;" ms-visible="err.err" ms-text="err.msg">1</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td>	
								<button class="btn btn-green pull-reight-50 pull-left-100" ms-click="toSave">
									<i class="fa fa-check"></i>保存
								</button>
								<button class="btn btn-red" ms-click="returnList">
									<i class="fa fa-angle-double-left"></i>返回
								</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});

	layui.use(['form'], function(){});
	TX.setPageBox();
	var vm = avalon.define({
		$id:"sub",
		display:true,
		dis_model:"list",
		save_model:"menu",
		menu_list:[],
		top_list:[],
		err:{err:false,msg:""},
		item:{
			menuId:0,
			menuName:'',
			menuTag:'',
			parentId:0,
			uri:'',
			menuSort:100,
			dataFlag:1,
		},
		load:function(){
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.adminMenu,{},
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.top_list = json.data.top_list;
						vm.menu_list = json.data.menu_list;
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		resetItem:function(){
			vm.item = {
				menuName:'',
				menuTag:'',
				parentId:0,
				uri:'',
				menuSort:100,
				dataFlag:1,
				isSub:false
			};
		},
		toDelete:function(id,dl){
			var txt = '';
			layer.confirm("删除后将不可恢复,确定要删除吗?",
				{btn:["确定","取消"],
					function(){
						layer.closeAll();
						return false;
					}
				},
				function(){
					layer.closeAll();
					var vd = {
						menuId:id
					};
					TX.msg("数据提交中......",{time:30000});
					$.post(logic_urls.delMenu,vd,
						function(data){
							var json = TX.toJson(data);
							console.log(json);
							if(json.status == 1){
								layer.closeAll();
								if(true == dl){
									for(var i=0;i<vm.menu_list.length;i++){
										if(vm.menu_list[i]['menuId'] == json.data){
											vm.menu_list.splice(i,1);
											break;
										}
									}
								}else{
									for(var i=0;i<vm.menu_list.length;i++){
										if(vm.menu_list[i]['menuId'] == json.data){
											vm.menu_list.splice(i,1);
											break;
										}
									}
									for(var i=0;i<vm.top_list.length;i++){
										if(vm.top_list[i]['menuId'] == json.data){
											vm.top_list.splice(i,1);
											break;
										}
									}
								}
								avalon.scan();
							}else{
								TX.msg(json.msg,{time:3000});
							}
						}
					)
				},
				function(){
					layer.closeAll();
					return false;
				}
			);
		},
		toAdd:function(){
			vm.save_model = "menu";
			vm.resetItem();
			vm.item.isSub = false;
			vm.dis_model = "add";
		},
		toAddSub:function(id){
			vm.save_model = "sub";			
			vm.resetItem();
			vm.item.parentId = id;
			avalon.scan();
			vm.item.isSub = true;
			vm.dis_model = "add";
		},
		toEdit:function(el){
			vm.save_model = "menu";
			vm.item = el.$model;
			vm.dis_model = "edit";
		},
		toSave:function(md){
			vm.item.isSub = false;
			var vd = vm.item.$model;
			vm.save_model = md;
			vm.saveMenu(vd);
		},
		saveMenu:function(arr){
			vm.precheck(arr);
			if(vm.err.err){
				return;
			}
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.saveMenu,arr,
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.top_list = json.data.top_list;
						vm.menu_list = json.data.menu_list;
						vm.returnList();
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		returnList:function(){
			vm.resetItem();
			vm.dis_model = "list";
			avalon.scan();
		},
		selectMenu:function(index,id){
			if(true == vm.menu_list[index]['isSub']){
				return false;
			}
			var vl = !vm.menu_list[index]['select'];
			vm.menu_list[index]['select'] = vl;
			for(var i=0;i<vm.menu_list.length;i++){
				if(id == vm.menu_list[i]['parentId']){
					vm.menu_list[i]['display'] = vl;
				}else{
					if(true == vm.menu_list[i]['isSub']){
						if(true == vl){
							vm.menu_list[i]['display'] = false;
						}
					}else{
						if(true == vl){
							vm.menu_list[i]['select'] = false;
						}
					}
				}
			}
		},
		precheck:function(arr){
			vm.err.err = false;
			vm.err.msg = '';
			vm.err.msg = validator.checkText(arr.menuName,1,20,"菜单名称");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}vm.err.msg = validator.checkText(arr.menuTag,1,20,"菜单标记");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.parentId,"上级菜单");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.dataFlag,"菜单状态");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			if(vm.dis_model == "edit"){
				vm.err.msg = validator.checkNumber(arr.menuId,"菜单ID");
				if(vm.err.msg != ''){
					vm.err.err = true;
					return;
				}
			}
		}

	});
	vm.load();
});
</script>
</body>
</html>