<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>角色列表</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css" rel="stylesheet" type="text/css" />
</head>
<body ms-controller="sub" class="hold-transition skin-blue sidebar-mini" style="display:none;" ms-visible="@display">
	<div ms-visible="@dis_model == 'list'">
		<div class="alert alert-success alert-tips fade in">
			<div class="head">
				<i class="fa fa-lightbulb-o"></i>
				操作说明
			</div>
			<ul class="body">
				<li>该功能主要用于设置公司内部员工的角色，以及对应的权限。</li>
			</ul>
		</div>
		<div class="wst-toolbar">
			<span class="btn"></span>
			<button class="btn btn-success f-right" ms-click="@toAdd">
				<i class="fa fa-plus"></i>
				新增
			</button>
		</div>
		<div class="wst-grid">
			<div class="mmGrid" style="width: auto; height: 275px;">
				<div class="mmg-headWrapper">
					
				</div>
				<div class="mmg-bodyWrapper">
					<div class="mmg mmg-body" style="border:1px solid #dedede;">
						<table class="mmg-head tab-list" cellspacing="0" cellpadding="0" >
							<thead style="border:0px;">
								<tr style="height:40px;line-height:40px;border-bottom:1px solid #dedede;">
									<th>序号</th>
									<th>角色名称</th>
									<th>角色权限</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr cellspacing="0" ms-for="(idx,el) in @role_list">
									<td class="col-td" ms-text="idx+1"></td>
									<td class="col-td" ms-text="el.roleName"></td>
									<td class="col-td" ms-text="el.rolePower"></td>
									<td class="col-td">
										<button class="btn btn-blue pull-right-10" ms-click="@toEdit(el)">
											<i class="fa fa-pencil"></i>编辑
										</button>
										<button class="btn btn-red pull-right-10" ms-click="@toDelete(el.roleId)">
											<i class="fa fa-trash-o"></i>删除
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ms-if="@dis_model == 'edit' || @dis_model == 'add'">
		<div class="mmg mmg-body">
			<table class="mmg-head wst-form wst-box-top top-tab" style="width:60%;margin:0 auto;" cellspacing="0" cellpadding="0" >
				<tbody>
					<tr style="padding-top:30px;">
						<th width="150">角色名称<font color="red">*</font>：</th>
						<td>
							<input type="text" class="ipt" style="width:350px;" ms-duplex="@item.roleName">
						</td>
					</tr>
					<tr>
						<th width="150">角色权限<font color="red">*</font>：</th>
						<td>
							<input style="display:block;width:350px;" type="text" ms-duplex="@item.rolePower">
							<div style="width:350px;overflow:hidden;" id="power_list">
								<div class="power-left">
									<li class="power-left-item" ms-for="(idx,el) in @item_list">
										<label class="main-menu">
											<input type="checkbox" ms-duplex-checked="el.checked"  data-duplex-changed="@selectAll($event,idx)">(|el.menuName|)
										</label>
										<ul class="sub-menu">
											<li ms-for="(ipx,sl) in el.sub">
												<label>
													<input type="checkbox" ms-duplex-checked="sl.checked"  data-duplex-changed="@selectChange($event,idx,ipx)">(|sl.menuName|)
												</label>
											</li>
										</ul>
									</li>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td>1</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td>	
								<button class="btn btn-green pull-reight-50 pull-left-100" ms-click="toSave">
									<i class="fa fa-check"></i>保存
								</button>
								<button class="btn btn-red" ms-click="returnList">
									<i class="fa fa-angle-double-left"></i>返回
								</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon2.2.8.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script src="__STATIC__/ztree/jquery.ztree.all-3.5.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});

	layui.use(['form'], function(){});
	TX.setPageBox();
	var vm = avalon.define({
		$id:"sub",
		display:true,
		dis_model:"list",
		err:{err:false,msg:""},
		role_list:[],
		menu_list:[],
		item_list:[],
		item:{
			roleId:0,
			roleName:'',
			rolePower:''
		},
		load:function(id){
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.adminRole,{},
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.role_list = json.data;
						var sd = json.menu_list;
						for(var i=0;i<sd.length;i++){
							vm.menu_list.push(sd[i]);
						}
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		setPowerData:function(md,power){
			var rs = [];
			if(md == 0){
				for(var i=0;i<vm.menu_list.length;i++){
					var tmp = vm.menu_list[i];
					tmp['checked'] = false;
					for(var k=0;k<tmp['sub'].length;k++){
						tmp['sub'][k]['checked'] = false;
					}
					rs.push(tmp);
				}
			}else{
				if(power.length == 0){
					for(var i=0;i<vm.menu_list.length;i++){
						var tmp = vm.menu_list[i];
						tmp['checked'] = false;
						for(var k=0;k<tmp['sub'].length;k++){
							tmp['sub'][k]['checked'] = false;
						}
						rs.push(tmp);
					}
				}else{
					var arr = power.split(',');
					for(var i=0;i<vm.menu_list.length;i++){
						var tmp = vm.menu_list[i];
						tmp['checked'] = false;
						for(var k=0;k<arr.length;k++){
							if(arr[k] == tmp['menuTag']){
								tmp['checked'] = true;
								break;
							}
						}
						for(var m=0;m<tmp['sub'].length;m++){
							tmp['sub'][m]['checked'] = false;
							for(var n=0;n<arr.length;n++){
								console.log(arr[n] + "|" + tmp['sub'][m]['menuTag']);
								if(arr[n] == tmp['sub'][m]['menuTag']){
									tmp['sub'][m]['checked'] = true;
								}
							}
						}
						rs.push(tmp);
					}
				}
			}
			return rs;
		},
		selectAll:function(e,id){
		},
		getPowerData:function(){
			var arr = [];
			for(var i=0;i<vm.item_list.length;i++){
				if(true == vm.item_list[i]['checked']){
					arr.push(vm.item_list[i]['menuTag']);
				}
				for(var k=0;k<vm.item_list[i]['sub'].length;k++){
					if(true == vm.item_list[i]['sub'][k]['checked']){
						arr.push(vm.item_list[i]['sub'][k]['menuTag']);
					}
				}
			}
			if(arr.length == 0){
				vm.item.rolePower = "";
			}else{
				vm.item.rolePower = arr.join(',');
			}
		},
		selectChange:function(e,id,sd){
			var checked = e.target.checked;
			vm.item_list[id]['sub'][sd]['checked'] = checked;
			if(checked){
				vm.item_list[id]['checked'] = true;
			}else{
				var arr = vm.item_list[id]['sub'];
				vm.item_list[id]['checked'] = false;
				for(var i=0;i<arr.length;i++){
					if(arr[i]['checked']){
						vm.item_list[id]['checked'] = true;
						break;
					}
				}
			}
			vm.getPowerData();
		},
		resetItem:function(){
			vm.item = {
				roleName:'',
				rolePower:''
			};
		},
		toAdd:function(){
			vm.resetItem();
			vm.item_list = vm.setPowerData(0,[]);
			vm.dis_model = "add";
		},
		toEdit:function(el){
			vm.item = el.$model;
			vm.item_list = vm.setPowerData(1,el.rolePower);
			vm.dis_model = "edit";
		},
		toDelete:function(id){
			layer.confirm("是否要删除",
				{btn:["确定","取消"],
					function(){
						layer.closeAll();
						return false;
					}
				},
				function(){
					layer.closeAll();
					var vd = {
						roleId:id
					};
					TX.msg("数据提交中......",{time:30000});
					$.post(logic_urls.delRole,vd,
						function(data){
							var json = TX.toJson(data);
							console.log(json);
							if(json.status == 1){
								layer.closeAll();
								for(var i=0;i<vm.role_list.length;i++){
									if(vm.role_list[i]['roleId'] == id){
										vm.role_list.splice(i,1);
										break;
									}
								}
								avalon.scan();
							}else{
								TX.msg(json.msg,{time:3000});
							}
						}
					)
				},
				function(){
					layer.closeAll();
					return false;
				}
			);
		},
		toSave:function(){
			vm.getPowerData();
			var vd = vm.item.$model;
			vm.saveRole(vd);
		},
		saveRole:function(arr){
			vm.precheck(arr);
			if(vm.err.err){
				return;
			}
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.saveRole,arr,
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						layer.closeAll();
						for(var i=0;i<vm.role_list.length;i++){
							if(vm.role_list[i]['roleId'] == json.data.roleId){
								vm.role_list.splice(i,1,json.data);
								break;
							}
						}
						if(undefined == arr['roleId'] || arr['roleId'] == 0){
							vm.role_list.push(json.data);
						}
						vm.returnList();
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			)
		},
		selectAll:function(e,id){
			var checked = e.target.checked
			vm.menu_list[id]['checked'] = checked;
			for(var i=0;i<vm.menu_list[id]['sub'].length;i++){
				vm.menu_list[id]['sub'][i]['checked'] = checked;
			}
			avalon.scan($("#power_list").get[0]);
		},
		returnList:function(){
			vm.resetItem();
			vm.dis_model = "list";
			avalon.scan();
		},
		precheck:function(arr){
			vm.err.err = false;
			vm.err.msg = '';
			vm.err.msg = validator.checkText(arr.roleName,1,20,"角色名称");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkText(arr.rolePower,1,300,"角色权限");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			if(vm.dis_model == "edit"){
				vm.err.msg = validator.checkNumber(arr.roleId,"角色ID");
				if(vm.err.msg != ''){
					vm.err.err = true;
					return;
				}
			}
		}
	});
	vm.$watch("menu_list",function(a){
		console.log();
	});
	vm.load();
});
</script>
</body>
</html>