<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>班级列表</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css?v=2.0.6_180726" rel="stylesheet" type="text/css" />
</head>
<body ms-controller="sub" class="hold-transition skin-blue sidebar-mini" style="display:none;" ms-visible="display">
	<div>
		<div class="alert alert-success alert-tips fade in">
			<div class="head">
				<i class="fa fa-lightbulb-o"></i>
				操作说明
			</div>
			<ul class="body">
				<li>该功能主要用于录入学员成绩。选择好项目和班级后,会自动列出班级下的所有学员,点击学员名称,会自动把学员信息填入右侧相应的编辑栏.也可以在学生姓名的文本框中输入学生姓名进行查询选择.注意,需要选择分组与学员对应的课程名称以后才能录入学员成绩.</li>
			</ul>
		</div>
		<div class="wst-toolbar">
			<select class="form-control" ms-duplex="@catchitem.proId">
				<option disabled selected value="">请选择项目名称</option>
				<option ms-for="el in @program_list" ms-attr="{value:el.proId}" ms-text="el.proName"></option>
			</select>
			<select class="form-control" ms-duplex="@catchitem.classId">
				<option value="">请选择班级名称</option>
				<option ms-for="el in @class_arr" ms-attr="{value:el.classId}" ms-text="el.className"></option>
			</select>
			<button class="btn btn-success f-right" ms-click="toAdd">
				<i class="fa fa-plus"></i>
				新增
			</button>
		</div>
	</div>
	<div>
		<div class="mmg mmg-body">
			<div class="name-tree">
				<ul class="student-box">
					<li class="student-item" ms-for="(idx,el) in @stu_list" ms-text="el.studentName" ms-click="checkStudent(el)"></li>
				</ul>
			</div>
			<table class="mmg-head wst-form wst-box-top top-tab" style="width:60%;float:left;margin:0 auto;border-left:1px solid #dedede;" cellspacing="0" cellpadding="0" >
				<tbody>
					<tr style="padding-top:30px;">
						<th width="150">学生姓名<font color="red">*</font>：</th>
						<td>
							<input type="text"  class="ipt" style="width:350px;" ms-duplex="@item.studentName">
							<input type="text" class="ipt" style="width:350px;display:none;" ms-duplex="@item.studentId">
						</td>
					</tr>
					<tr>
						<th width="150">类&nbsp;&nbsp;&nbsp;型<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="@itemType">
								<option value="1">加分</option>
								<option value="0">扣分</option>
							</select>
						</td>
					</tr>
					<tr style="padding-top:30px;">
						<th width="150">规则选项<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:170px;margin-left:5px;" ms-duplex="@search_key">
								<option value="">请选择规则名称</option>
								<option ms-for="(idx,el) in @rule_arr" ms-attr="{value:idx}" ms-text="el.itemName"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">分值<font color="red">*</font>：</th>
						<td class="score-list-box">
							<input type="text" class="ipt" style="width:350px;" ms-duplex="@item.score">
						</td>
						
					</tr>
					<tr>
						<th width="150">日期<font color="red">*</font>：</th>
						<td class="score-list-box">
							<input type="date" class="ipt" style="width:350px;" ms-duplex="@item.opTime">
						</td>
						
					</tr>
					<tr style="padding-top:30px;">
						<th width="150">说明<font color="red">*</font>：</th>
						<td>
							<textarea class="ipt" style="width:350px;" id="itemText" rows="3" ms-duplex="@item.recordMem">
								
							</textarea>
						</td>
					</tr>
					<tr>
						<th width="150">是否有效<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="@dataFlag">
								<option value="1">有效</option>
								<option value="0">无效</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td style="text-align:center;color:red;" ms-visible="err.err" ms-text="err.msg">1</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td>	
							<button class="btn btn-green pull-reight-50 pull-left-100" ms-click="toSave">
								<i class="fa fa-check"></i>保存
							</button>
							<button class="btn btn-green pull-reight-50" ms-click="resetItem">
								<i class="fa fa-check"></i>重置
							</button>
							<!-- <button class="btn btn-red" ms-click="returnList">
								<i class="fa fa-angle-double-left"></i>返回
							</button> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon2.2.8.js"></script>
<!-- <script src="https://unpkg.com/avalon2@2.2.8/dist/avalon.js"></script> -->
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});

	var rid = QueryString("recordId");
	var backUri = QueryString("backUri");
	if(!backUri) backUri="";
	backUri = decodeURIComponent(backUri);
	var update = 0;//编辑模式,update为1代表编辑,为0代表新增;
	if(rid <= 0 ){
		rid = 0;
	}else{
		update = 1;
	}
	layui.use(['form'], function(){});
	TX.setPageBox();
	var vm = avalon.define({
		$id:"sub",
		display:true,
		model:0,
		update:0,
		item:{
			studentId:0,
			recordId:0,
			studentName:'',
			scoreRule:'',
			recordMem:'',
			score:0,
			opTime:'',
			dataFlag:1
		},
		itemType:0,
		backUri:'',
		returnUri:'/home/index/mark',
		dis_model:"list",
		catchitem:{proId:'',classId:0},
		program_list:[],
		class_arr:[],
		student_list:[],
		stu_list:[],
		search_key:'',
		class_list:[],
		rule_list:[],
		rule_result:[],
		rule_arr:[],
		err:{err:false,msg:""},
		load:function(){
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.adminScore,{},
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.program_list = json.program_list;
						vm.class_list = json.class_list;
						vm.rule_list = json.rule_list;
						vm.item.recordId = rid,
						vm.setRuleList(vm.itemType);
						vm.update = update;
						if(vm.update == 1){
							vm.getRcord();
						}
						vm.backUri = backUri;
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		getRcord:function(){
			var vd = {
				recordId:vm.item.recordId
			}
			$.post(logic_urls.getScoreById,vd,
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						vm.item = json.data;
						vm.item.opTime = TX.intToDate(json.data.opTime);
					}else{
						TX.msg(json.msg,{time:3000});
						vm.resetItem();
					}
				}
			);
		},
		resetItem:function(){
			vm.item = {
				studentId:0,
				scoreRule:'',
				studentName:'',
				recordMem:'',
				score:0,
				opTime:'',
				dataFlag:1
			};			
		},
		checkStudent:function(el){
			vm.item.studentName = el.studentName;
			vm.item.studentId = el.studentId;
		},
		listStudent:function(id){
			if(id <= 0){
				vm.stu_list = [];
				return false;
			}
			$.post(logic_urls.listStudent,{classId:id},
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						var tmp = json.data;
						vm.stu_list = [];
						for(var i=0;i<tmp.length;i++){
							vm.stu_list.push(tmp[i]);
						}
					}else{

					}
				}
			);
		},
		toAdd:function(){
			vm.resetItem();
		},
		toSave:function(){
			var vd = vm.item.$model;
			console.log(vd);
			vm.saveRoleInput(vd);
		},
		saveRoleInput:function(arr){
			vm.precheck(arr);
			if(vm.err.err){
				return;
			}
			TX.msg('努力加载中...',{time:30000});
			$.post(logic_urls.saveRoleInput,arr,
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						layer.closeAll();
						
						
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		setRuleList:function(a){
			vm.rule_arr = [];
			for(var i=0;i<vm.rule_list.length;i++){
				if(a == vm.rule_list[i]['itemType']){
					vm.rule_arr.push(vm.rule_list[i]);
				}
			}
		},
		returnList:function(){
			if(vm.backUri != ""){
				window.location.href = vm.backUri;
			}else{
				window.location.href = vm.returnUri;
			}
		},
		precheck:function(arr){
			vm.err.err = false;
			vm.err.msg = '';
			vm.err.msg = validator.checkNumber(arr.studentId,"学生ID");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			if(arr.studentId <= 0){
				vm.err.msg = "学生ID错误";
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkText(arr.scoreRule,1,30,"规则选项");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkText(arr.recordMem,1,100,"说明");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(Math.abs(arr.score),"分值");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkDate(arr.opTime,"日期");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.dataFlag,"状态");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			if(vm.dis_model == "edit"){
				vm.err.msg = validator.checkNumber(arr.recordId,"记录ID");
				if(vm.err.msg != ''){
					vm.err.err = true;
					return;
				}
			}
		},
		selectedRule:function(el){
			console.log(this.value);
			vm.item.scoreRule = el.itemName;
		}

	});
	vm.$watch("search_key",function(a){
		if(a >= 0){
			vm.item.scoreRule = vm.rule_arr[a]['itemName'];
			var md = 0;
			if(vm.itemType == 0){
				md = -1 * parseInt(vm.rule_arr[a]['score']);
			}else{
				md = vm.rule_arr[a]['score'];
			}
			console.log(md);
			vm.item.score = md;
		}else{
			vm.item.score = 0;
			vm.item.scoreRule = '';
		}
		console.log(vm.item);
	});
	vm.$watch("catchitem.proId",function(a,b){
		console.log(a);
		if(a != b && a > 0){
			vm.class_arr = [];
			console.log(vm.class_list);
			for(var i=0;i<vm.class_list.length;i++){
				if(a == vm.class_list[i]['proId']){
					vm.class_arr.push(vm.class_list[i]);
				}
			}
		}
	});
	vm.$watch("catchitem.classId",function(a,b){
		console.log(a);
		if(a != b && a > 0){
			vm.listStudent(a);
		}
	});
	vm.$watch("itemType",function(a,b){
		if(a != b){
			vm.setRuleList(a);
			vm.item.score = 0;
			vm.search_key = -1;
		}
	});
	vm.load();
});
</script>
</body>
</html>