<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户列表</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/font-awesome.css" type="text/css" />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/skins/skin-blue.min.css"type="text/css"/>
	<link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css"/>
	<link href="__STATIC__/css/mcommon.css?v=2.0.6_180726" rel="stylesheet" type="text/css" />
</head>
<body ms-controller="sub" class="hold-transition skin-blue sidebar-mini" style="display:none;" ms-visible="display">
	<div ms-visible="dis_model == 'list'">
		<div class="alert alert-success alert-tips fade in">
			<div class="head">
				<i class="fa fa-lightbulb-o"></i>
				操作说明
			</div>
			<ul class="body">
				<li>该功能主要用于设置公司内部员工信息，可以对员工的操作权限，账号，密码等进行设置。</li>
			</ul>
		</div>
		<div class="wst-toolbar">
			<input type="text" class="form-control">
			<button class="btn btn-primary">查询</button>
			<button class="btn btn-success f-right" ms-click="toAdd">
				<i class="fa fa-plus"></i>
				新增
			</button>
		</div>
		<div class="wst-grid">
			<div class="mmGrid" style="width: auto; height: 275px;">
				<div class="mmg-headWrapper">
					
				</div>
				<div class="mmg-bodyWrapper">
					<div class="mmg mmg-body" style="border:1px solid #dedede;">
						<table class="mmg-head tab-list" cellspacing="0" cellpadding="0" >
							<thead style="border:0px;">
								<tr style="height:40px;line-height:40px;border-bottom:1px solid #dedede;">
									<th>序号</th>
									<th>用户账户</th>
									<th>用户姓名</th>
									<th>电子邮箱</th>
									<th>所属项目</th>
									<th>班级列表</th>
									<th>角色</th>
									<th>用户状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr cellspacing="0" ms-repeat-el="user_list">
									<td class="col-td" ms-text="$index+1"></td>
									<td class="col-td" ms-text="el.userName"></td>
									<td class="col-td" ms-text="el.nickName"></td>
									<td class="col-td" ms-text="el.userEmail"></td>
									<td class="col-td" ms-text="el.proDesc"></td>
									<td class="col-td" ms-text="el.classList"></td>
									<td class="col-td" ms-text="el.roleDesc"></td>
									<td class="col-td">
										<img ms-visible="el.dataFlag == 1" src="__STATIC__/img/enable.png" alt="">
										<img ms-visible="el.dataFlag == 0" src="__STATIC__/img/disable.png" alt="">
									</td>
									<td class="col-td">
										<button class="btn btn-blue pull-right-10" ms-click="toEdit(el)">
											<i class="fa fa-pencil"></i>编辑
										</button>
										<button class="btn btn-red pull-right-10" ms-click="toDelete(el.userId,0)"  ms-visible="el.dataFlag == 1">
											<i class="fa fa-trash-o"></i>注销
										</button>
										<button class="btn btn-green" ms-click="toDelete(el.userId,1)" ms-visible="el.dataFlag == 0">
											<i class="fa fa-reply-all"></i>回复
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="pd" class="mmPaginator">
				<div class="totalCountLabel" ms-text="'共'+page.total+'条'"></div>
					<ul class="pageList">
						<li class="prev" ms-class="disable:page.current_page < 2" ms-click="changePage($event,parseInt(page.current_page)-1)"><a href="#">«</a></li>
						<li ms-repeat-el="page.page_item" ms-class="active:page.current_page == el" ms-click="changePage($event,el)"><a href="#" ms-text="el"></a></li>
						<li class="next" ms-click="changePage($event,parseInt(page.current_page)+1)"><a href="#">»</a></li>
					</ul>
				<div class="limit" ms-class="page.current_page >= page.total" ms-text-"'每页'+page.per_page+'条'"></div>
			</div>
		</div>
	</div>
	<div ms-visible="dis_model == 'edit' || dis_model == 'add'">
		<div class="mmg mmg-body">
			<table class="mmg-head wst-form wst-box-top top-tab" style="width:60%;margin:0 auto;" cellspacing="0" cellpadding="0" >
				<tbody>
					<tr style="padding-top:30px;">
						<th width="150">用户账户<font color="red">*</font>：</th>
						<td>
							<input type="text" class="ipt" style="width:350px;" ms-duplex="item.userName" ms-attr-readonly="readonly">
						</td>
					</tr>
					<tr>
						<th width="150">用户姓名<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.nickName"></td>
					</tr>
					<tr>
						<th width="150">性  别<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.gender">
								<option value="1">男</option>
								<option value="0">女</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">手机号码<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.mobile"></td>
					</tr>
					<tr>
						<th width="150">电子邮箱<font color="red">*</font>：</th>
						<td><input type="text" class="ipt" style="width:350px;" ms-duplex="item.userEmail"></td>
					</tr>
					<tr>
						<th width="150">所属项目<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.proId">
								<option ms-repeat-el="program_list" ms-attr-value="el.proId">(|el.proName|)</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">角色名称<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.userRole">
								<option ms-repeat-el="role_list" ms-attr-value="el.roleId">(|el.roleName|)</option>
							</select>
						</td>
						
					</tr>
					<tr>
						<th width="150">用户状态<font color="red">*</font>：</th>
						<td>
							<select class="ipt" style="width:350px;" ms-duplex="item.dataFlag">
								<option value="1">有效</option>
								<option value="0">无效</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="150">班级列表<font color="red"></font>：</th>
						<td style="overflow:hidden;">
							<div class="source-box">
								<ul class="class-list">
									<li ms-repeat-el="class_select" ms-visible="!el.select" class="class-item" ms-class="class-item-select:el.select_class" ms-click="changeClassSelect($index,el.select_class)" ms-text="el.className"></li>
								</ul>
							</div>
							<div class="button-box">
								<button class="btn btn-green btn-cl" ms-click="selectChanged(1)">
									<i class="fa fa-angle-double-right"></i>
								</button>
								<button class="btn btn-green btn-cl" ms-click="selectChanged(0)">
									<i class="fa fa-angle-double-left"></i>
								</button>							</div>
							<div class="destination-box">
								<ul class="class-list">
									<li ms-repeat-el="class_select" ms-visible="el.select" class="class-item" ms-class="class-item-select:el.select_class" ms-click="changeClassSelect($index,el.select_class)" ms-text="el.className"></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td style="text-align:center;color:red;" ms-visible="err.err" ms-text="err.msg">1</td>
					</tr>
					<tr>
						<th width="150">&nbsp;</th>
						<td>	
								<button class="btn btn-green pull-reight-50 pull-left-100" ms-click="toSave">
									<i class="fa fa-check"></i>保存
								</button>
								<button class="btn btn-red" ms-click="returnList">
									<i class="fa fa-angle-double-left"></i>返回
								</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/js/avalon.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/jQuery.md5.js"></script>
<script src="__STATIC__/js/logic.js"></script>
<script src="__STATIC__/js/validator.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
jQuery(document).ready(function(){
	avalon.config({
		interpolate : ["(|","|)"]
	});

	layui.use(['form'], function(){});
	TX.setPageBox();
	var vm = avalon.define({
		$id:"sub",
		display:true,
		dis_model:"list",
		program_list:[],
		class_list:[],
		role_list:[],
		user_list:[],
		class_select:[],
		readonly:false,
		search_key:'',
		err:{err:false,msg:""},
		item:{
			userId:0,
			userName:'',
			nickName:'',
			gender:1,
			mobile:'',
			userEmail:'',
			proId:0,
			userRole:0,
			classList:'',
			dataFlag:1,
			userPower:''
		},
		page:{
			total:0,
			per_page:50,
			current_page:1,
			last_page:0,
			page_item:[]
		},		
		load:function(id){
			TX.msg('努力加载中...',{time:30000});
			var md = {
				search_key:vm.search_key,
				current_page:vm.page.current_page,
				per_page:vm.page.per_page
			}
			$.post(logic_urls.adminUsers,md,
				function(data){
					var json = TX.toJson(data);
					console.log(json);
					if(json.status == 1){
						layer.closeAll();
						vm.program_list = json.data.program_list;
						vm.role_list = json.data.role_list;
						vm.class_list = [];
						vm.user_list = json.data.list.data;
						var vd = json.data.class_list;
						var sd = json.data.list;
						vm.page.total = sd.total;
						vm.page.per_page = sd.per_page;
						vm.current_page = sd.current_page;
						vm.page.last_page = sd.last_page;
						vm.page.page_item = [];
						for(var i=1;i<=vm.page.last_page;i++){
							vm.page.page_item.push(i);
						}
						for(var i=0;i<vd.length;i++){
							vd[i]['select'] = false;
							vd[i]['select_class'] = false;
							vm.class_list.push(vd[i]);
						}
						vm.selectClass();
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			);
		},
		selectClass:function(){
			var arr = vm.item.classList.split(',');
			if(vm.item.proId <= 0){
				for(var i=0;i<vm.class_list.length;i++){
					var tmp = vm.class_list[i]['className'];
					if(tmp.inArray(arr)){
						vm.class_list[i]['select'] = true;
					}else{
						vm.class_list[i]['select'] = false;
					}
					vm.class_list[i]['select_class'] = false;
				}
				vm.class_select = vm.class_list;
			}else{
				vm.class_select = [];
				for(var i=0;i<vm.class_list.length;i++){
					var tmp = vm.class_list[i]['className'];
					if(tmp.inArray(arr)){
						vm.class_list[i]['select'] = true;
					}else{
						vm.class_list[i]['select'] = false;
					}
					vm.class_list[i]['select_class'] = false;
					if(vm.class_list[i]['proId'] == vm.item.proId){
						vm.class_select.push(vm.class_list[i]);
					}
				}
			}
		},
		changeClassSelect:function(id,lv){
			vm.class_select[id]['select_class'] = !lv;
		},
		selectChanged:function(md){
			if(md == 1){
				for(var i=0;i<vm.class_select.length;i++){
					if(true == vm.class_select[i]['select_class'] && false == vm.class_select[i]['select']){
						vm.class_select[i]['select_class'] = false;
						vm.class_select[i]['select'] = true;
					}
				}
			}else{
				for(var i=0;i<vm.class_select.length;i++){
					if(true == vm.class_select[i]['select_class'] && true == vm.class_select[i]['select']){
						vm.class_select[i]['select_class'] = false;
						vm.class_select[i]['select'] = false;
					}
				}
			}
		},
		resetItem:function(){
			vm.item = {
				userName:'',
				nickName:'',
				gender:1,
				mobile:'',
				userEmail:'',
				proId:0,
				userRole:0,
				classList:'',
				dataFlag:1,
				userPower:''
			};
			for(var i=0;i<vm.class_select.length;i++){
				vm.class_select[i]['select'] = false;
			}
		},
		getClassList:function(){
			var tmp = [];
			for(var i=0;i<vm.class_select.length;i++){
				if(true == vm.class_select[i]['select']){
					tmp.push(vm.class_select[i]['className']);
				}
			}
			vm.item.classList = tmp.join(',');
		},
		toAdd:function(){
			vm.readonly = false;
			vm.resetItem();
			vm.dis_model = "add";
		},
		toEdit:function(el){
			vm.item = el;
			vm.selectClass();
			vm.readonly = true;
			vm.dis_model = "edit";
		},
		toDelete:function(id,dl){
			var txt = '';
			if(dl == 1){
				txt = "是否要恢复";
			}else{
				txt = "是否要删除";
			}
			layer.confirm(txt,
				{btn:["确定","取消"],
					function(){
						layer.closeAll();
						return false;
					}
				},
				function(){
					layer.closeAll();
					var vd = {
						userId:id,
						dataFlag:dl
					};
					TX.msg("数据提交中......",{time:30000});
					$.post(logic_urls.delUsers,vd,
						function(data){
							var json = TX.toJson(data);
							console.log(json);
							if(json.status == 1){
								layer.closeAll();
								for(var i=0;i<vm.user_list.length;i++){
									if(vm.user_list[i]['userId'] == id){
										vm.user_list[i]['dataFlag'] = json.data.dataFlag;
										break;
									}
								}
								avalon.scan();
							}else{
								TX.msg(json.msg,{time:3000});
							}
						}
					)
				},
				function(){
					layer.closeAll();
					return false;
				}
			);
		},
		toSave:function(){
			vm.getClassList();
			var vd = vm.item.$model;
			vm.saveUser(vd);
		},
		saveUser:function(arr){
			var tmp = {
				search_key:vm.search_key,
				current_page:vm.page.current_page,
				per_page:vm.page.per_page
			};
			vm.precheck(arr);
			if(vm.err.err){
				return;
			}
			TX.msg('努力加载中...',{time:30000});
			arr.search = tmp;
			$.post(logic_urls.saveUser,arr,
				function(data){
					var json = TX.toJson(data);
					if(json.status == 1){
						layer.closeAll();
						console.log(json);
						vm.user_list = json.data.data;
						vm.page.per_page = json.data.per_page;
						vm.page.current_page = json.data.current_page;
						vm.page.total = json.data.total;
						vm.page.last_page = json.data.last_page;
						vm.page.page_item = [];
						for(var i=1;i<=vm.page.last_page;i++){
							vm.page.page_item.push(i);
						}
						vm.returnList();
						avalon.scan();
					}else{
						TX.msg(json.msg,{time:5000});
					}
				}
			)
		},
		returnList:function(){
			vm.resetItem();
			vm.dis_model = "list";
			avalon.scan();
		},
		changePage:function(e,p){
			e.preventDefault();
			var num = vm.page.last_page;
			if(p >=1 && p <=num){
				vm.page.current_page = p;
				vm.load();
			}
		},
		precheck:function(arr){
			vm.err.err = false;
			vm.err.msg = '';
			vm.err.msg = validator.checkText(arr.userName,1,30,"用户账户");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkText(arr.nickName,1,30,"用户姓名");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.gender,"性别");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkMobile(arr.mobile);
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.userRole,"角色ID");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.proId,"所属项目");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			vm.err.msg = validator.checkNumber(arr.dataFlag,"状态");
			if(vm.err.msg != ''){
				vm.err.err = true;
				return;
			}
			if(vm.dis_model == "edit"){
				vm.err.msg = validator.checkNumber(arr.userId,"用户ID");
				if(vm.err.msg != ''){
					vm.err.err = true;
					return;
				}
			}
		}

	});
	vm.load();
	vm.$watch("item.proId", function (a, b) {
		if(a != b){
			vm.selectClass();
		}
	})
});
</script>
</body>
</html>